*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-items: center;
  margin: 1rem;
  font-family: sans-serif;
}

h1#title {
  margin-bottom: 2rem;
}

form#interface {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 2rem;
  max-width: 300px;

  input[type="submit"] {
    grid-column: 2 / 3;
  }
}

div#viewer {
  overflow-x: scroll;
  max-width: 100%;

  &::before {
    content: "Result";
    display: block;
    margin-bottom: 0.5rem;
  }
}

canvas#renderer {
  display: none;
}
